.Affiche {
    width: 550px;
    height: auto;
    margin: 0px;
    padding: 0px;
}
.image-acteur {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 2px;
}
table {
    background-color: white;
    margin: auto;
    padding: 0px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;  
}
td {
    width: 10%;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}
tr {
    width: 1px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

h1 {
    background-color: black;
    color: white;
    size: 125%;
    text-align: center;
    display: block;
    margin: 0;
    margin: 0px;
    padding: 0px;
}
 body {
    background-image: linear-gradient(darkred, darkblue);
    font-family: 'Times New Roman', Times, serif;
 }

 h5 {
    color: lightskyblue;
 }
 .bordure {
    background-color: darkred;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 .titre1 {
    font-size: 2em;
    font-weight: bold;
    font-weight: bold;
    background-color: black;
    color: white;
 }